<!DOCTYPE html>
<html>
<head>
  <title>RssFeed</title>
  <link rel="alternate" type="application/rss+xml" title="Cardano RSS Feed" href="https://cardano-rss-feed.herokuapp.com/feed.rss">
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
